<h1>Listado de Usuarios</h1>
<table class="striped">
    <tr>
        
        <thead>
            <th>Id</th>
            <th>Email</th>
            <th>Usuario</th>
            <th>Departamento</th>
            <th>Primer Nombre</th>
            <th>Segundo Nombre</th>
            <th>Primer Apellido</th>
            <th>Segundo Apellido</th>
            <th>Telefono</th>
            
        </thead>
    </tr>
    <% @users.each do |user| %>
    <tr>
    
        
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= user.username %></td>
        <td><%= user.departament_id %></td>
        <td><%= user.name_1 %></td>
        <td><%= user.name_2 %></td>
        <td><%= user.last_name_1 %></td>
        <td><%= user.last_name_2 %></td>
        <td><%= user.number %></td>
      
    </tr>
        <% end %>
  
</table>
